.navbar{
    width: 100%;
    height: 70px;
    background-color: rgb(19,19,10);
    display: flex;                             
    justify-content: flex-end;
    align-items: center;
    justify-content: space-between; /* Space between logo and links */
}

.logo {
    font-size: 40px; /* Make the logo text bigger */
    font-weight: bold; /* Make the logo text bold */
    color: #fffcf9; /* Example color for the logo */
    text-transform: uppercase; /* Optional: Make the logo text uppercase */
    cursor: pointer; /* Add a pointer cursor on hover */ 
    margin-left: 30px;
    font-style: italic;
}


.logo:hover {
    color: #71e54a; /* Change the logo color on hover */
}

.links{
    margin-right: 50px;
    display: flex;
    align-items: center;
}

.links a{
    text-decoration: none;
    color: white;
    margin-left: 20px;
    font-size: 25px;
}




.cart-link {
    position: relative;
  }
  
  .cart-count {
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 4px 8px;
    font-size: 12px;
    font-weight: bold;
  }
  

  .cart {

    position: relative;
  }